<!--Contenido del home, menu superior y lateral-->
<section>
    <article id="MenuLateral" class="container-fluid">
        
        <h5 id="tittle">TIMBRE AUTOMATICO</h5>
        <img src="../../../assets/img/TimbreAnimado.gif" alt="timbre" id="timbreImg" title="Timbre">
        <hr><hr><hr>

        <ul class="Options">
          <li routerLink="Listado/Activos" routerLinkActive="Ac">
            > Timbres Asignados
          </li>        
          <li routerLink="Formulario/Registro" routerLinkActive="Ac">
            > activar timbres
          </li>  
          <li>
            &nbsp; <button routerLink="Registros/UpdateReg" routerLinkActive="Ac" disabled>
              > Modificar timbres
            </button>
          </li>
            
          </ul>
        </article>
        
        <article class="Encabezado">
          <div class="Container-fluid">
            
            
            <img src="../../../assets/img/OffSesion.png" alt="Salir" title="Cerrar Sesion" id="OffSesion" (click)="Salir()">
            <p id="Reloj">
          <br> &nbsp;&nbsp;&nbsp;&nbsp;
          {{reloj}}
    
        </p>
        <router-outlet></router-outlet>
      </div>
      

    </article>



</section>