<div id="Content">
    <article id="Aux">
        <section class="container">
            <form id="Loggin">
                <div id="LogginContent">
                    <img id="imgLog" src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="Loggin" title="Loggin">
                    <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" id="n1" placeholder="Enter User" name="num">
                        <label for="num">Enter User</label>
                      </div>
                      
                      <div class="form-floating mt-3 mb-3">
                        <input type="password" class="form-control" id="n2" placeholder="Enter password" name="pswd">
                        <label for="n2">Enter Password</label>
                      </div>
                      <button type="submit" class="btn btn-primary" (click)="Ingresar()">
                        <span class="spinner-grow spinner-grow-sm"></span>
                       I N G R E S A R
                      </button>
                </div>
            </form>
        </section>
    </article>
</div>
