<!--Contenido del formulario de registro de horarios-->
<div id="ContentForm">
    <div class="container-fluid">
        <br>
        <h2 id="Prog" class="container"> PROGRAMACION DEL TIMBRE ESCOLAR</h2>

        <br><br>
        <form class="container-fluid">
            <div class="form-floating mt-3 mb-3">
                <input type="number" class="form-control" id="n2" placeholder="Enter password" name="pswd">
                <label for="n2">Ingrese id</label>
              </div>
    
              <div class="form-floating mt-3 mb-3">
                <input type="text" class="form-control" id="n2" placeholder="Enter password" name="pswd">
                <label for="n2">Ingrese Nombre/Ref</label>
              </div>
    
              <div class="form-floating mt-3 mb-3">
                <input type="date" class="form-control" id="n2" placeholder="Enter password" name="pswd">
                <label for="n2">Ingrese Fecha</label>
              </div>
    
              <div class="form-floating mt-3 mb-3">
                <input type="time" class="form-control" id="n2" placeholder="Enter password" name="pswd">
                <label for="n2">ingrese Hora</label>
              </div>
    
              <div class="form-floating mt-3 mb-3">
                <input type="text" class="form-control" id="n2" placeholder="Enter password" name="pswd">
                <label for="n2">Estado</label>
              </div>
              <input type="reset" name="Eliminar campos" class="btn btn-outline-info">
              &nbsp;&nbsp;&nbsp;
              <input type="submit" name="Registrar"  class="btn btn-outline-primary" value="Activar timbre">
        </form>

        <br><br>
    </div>

</div>
