<!--Contenido del formulario de registro de horarios-->
<div id="ContentForm">
  <div class="container-fluid">
    <br />
    <h2 id="Prog" class="container">PROGRAMACION DEL TIMBRE ESCOLAR</h2>

                </div>
          

                <div class="container-fluid" class="DiaSemana">
                  <label>Martes</label> &nbsp;
                  <input formControlName="martes" type="checkbox">
                </div>
           

                <div class="container-fluid" class="DiaSemana">
                  <label>Miercoles</label> &nbsp;
                  <input formControlName="miercoles" type="checkbox">
                </div>
    

                <div class="container-fluid" class="DiaSemana">
                  <label>Jueves</label> &nbsp;
                  <input formControlName="jueves" type="checkbox">
                </div>

                <div class="container-fluid" class="DiaSemana">
                  <label>Viernes</label> &nbsp;
                  <input formControlName="viernes" type="checkbox">
                </div>
          

                <div class="container-fluid" class="DiaSemana">
                  <label>Sabado</label> &nbsp;
                  <input formControlName="sabado" type="checkbox">
                </div>
          

                <div class="container-fluid" class="DiaSemana">
                  <label>Domingo</label> &nbsp;
                  <input formControlName="domingo" type="checkbox">
                </div>
           
